@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Nine Tsuki";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(assets/NineTsuki.otf) format("otf");
    }

    @font-face {
        font-family: "River Adventurer";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(assets/River.ttf) format("ttf");
    }
}

body {
    @apply bg-[url('./assets/hero.gif')] bg-contain
    bg-black/50 bg-blend-overlay;
}
